# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first graded assignment! Hope that you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We have got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [2]:
#your code here
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### 2) Read the csv file and assign it to a variable .

In [45]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [3]:
#your code here
df.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [42]:
#your code here
df.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [46]:
df=pd.read_csv('W1_Pokemon.csv')
df=df.drop('#',axis=1)
df.columns
df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 6) Set the 'Name' column as the index of dataframe

In [47]:
#your code here
df.set_index('Name')

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

###  7) Print a list of all the unique Type-1 powers

In [48]:
#your code here
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [3]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
# df.loc[df['Type 1']=="Grass"]
df['total']=df['Type 1'] +'+'+ df['Type 2']
df['total']
df['total'].value_counts()

Normal+Flying    24
Grass+Poison     15
Bug+Flying       14
Bug+Poison       12
Ghost+Grass      10
                 ..
Bug+Water         1
Grass+Dragon      1
Psychic+Grass     1
Water+Steel       1
Fire+Water        1
Name: total, Length: 136, dtype: int64

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [159]:
#your code here
df['Name'].str.contains('Mega').value_counts()
# df=pd.read_csv('W1_Pokemon.csv')

# 49 contains

False    751
True      49
Name: Name, dtype: int64

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [75]:
#your code here
df['Sp. Def'].std()

27.82891579711745

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [4]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
# df['Legendary'].describe()
# (800-735)/800 *100
# hv
a=df.loc[df['Legendary']==True]
a
65/800 * 100

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [163]:
#your code here
df.sort_values('Defense',ascending=False)
# Shuckle	
# SteelixMega Steelix
# AggronMega Aggron

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

### 5. Which poison pokemon has the strongest attack ?

In [231]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[(df['Type 1']=='Poison') | (df['Type 2']=='Poison')]
df.sort_values(['Attack'])
# BeedrillMega Beedrill

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
504,454,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [3]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [35]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[df['Type 1']=='Psychic']
df=df.loc[df['Type 2']=='Flying']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
191,177,Natu,Psychic,Flying,320,40,50,45,70,45,70,2,False
192,178,Xatu,Psychic,Flying,470,65,75,70,95,70,95,2,False
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
586,527,Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False
587,528,Swoobat,Psychic,Flying,425,67,57,55,77,55,114,5,False
622,561,Sigilyph,Psychic,Flying,490,72,58,80,103,80,97,5,False

In [34]:
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[df['Type 2'].notnull()]
df['Type 2'].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [36]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df['Generation'].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [37]:
df=pd.read_csv('W1_Pokemon.csv')
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [42]:
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[df['Legendary']==True]
df['Generation'].value_counts()

3    18
5    15
4    13
6     8
1     6
2     5
Name: Generation, dtype: int64

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [35]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[(df['Type 1']=='Ghost') | (df['Type 2']=='Ghost')]
df=df.loc[df['Legendary']==False]
df=df.loc[df['Generation']==4]
df=df.sort_values('Speed')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
490,442,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False
529,477,Dusknoir,Ghost,NaN,525,45,100,135,65,135,45,4,False
472,425,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False
473,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
531,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
477,429,Mismagius,Ghost,NaN,495,60,60,60,105,105,105,4,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [38]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[df['Legendary']==False]
# df=df.loc[df['Name']=='Charizard']
# def 78 att 84
df=df.loc[df['Attack'] < 84]
df=df.loc[df['Defense'] > 78]
df.shape
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
32,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False


## ***Bonus Questions***
## Here are some bonus questions that you can try further !

### These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [43]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df['total']=df['Attack']+df['Sp. Atk']
df.sort_values('total')
# DeoxysAttack Forme
# RayquazaMega Rayquaza

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,20
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,330
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,344
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,344
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,360

### Which type of legendary pokemons are the most common?

In [48]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df=df.loc[df['Legendary']==True]
df['total']=df['Type 1'] +'+'+ df['Type 2']
df['total']
df['total'].value_counts()
# Dragon+Psychic

Dragon+Psychic      4
Dragon+Ice          3
Electric+Flying     3
Fire+Flying         2
Rock+Fairy          2
Dragon+Flying       2
Ground+Flying       2
Ghost+Dragon        2
Ice+Flying          1
Grass+Fighting      1
Psychic+Dark        1
Psychic+Ghost       1
Dragon+Ground       1
Dark+Flying         1
Dragon+Electric     1
Dragon+Fire         1
Psychic+Fire        1
Rock+Fighting       1
Steel+Fighting      1
Grass+Flying        1
Fire+Steel          1
Water+Dragon        1
Steel+Dragon        1
Steel+Psychic       1
Ground+Fire         1
Psychic+Flying      1
Psychic+Fighting    1
Fire+Water          1
Name: total, dtype: int64

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [54]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
a=df.loc[(df['Generation']==3) & (df['Legendary']==False)]
b=df.loc[(df['Generation']==6) & (df['Legendary']==True)]
#idk how to select the weakest pokemon here

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Print out the third slowest pokemon(s) in the dataset.

In [66]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
df=df.sort_values('Speed')
# print(df)
print(df.iloc[2,1])

Ferroseed

### Which pokemon type has the highest average HP?

In [77]:
#your code here
df=pd.read_csv('W1_Pokemon.csv')
print(df['HP'].max())
df[df['HP']==255]

255

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False